header
    h1 My web page
    nav
        ul 
            li 
                a(href="http://localhost:3000/home") Home 
            li 
                a(href="http://localhost:3000/who_are_we") Who are we
            li 
                a(href="http://localhost:3000/where_are_we") Where are we
            li 
                a(href="http://localhost:3000/what_do_we_do") What do we do
            li 
                a(href="http://localhost:3000/contact") Contact