include ./head.pug
body 
    include ./header.pug
    main 
        section
            article 
                h2 Welcome 
                p This is our web page where you will find all the information about us 
                img(src="/images/adrien-brun-iV8Xy7dD5OQ-unsplash.jpg")
include ./footer.pug