include ./head.pug
body 
    include ./header.pug
    main 
        section
            article(class="row")
                div 
                    h2 What do we do?
                    p Commodi iure sequi, repellendus officiis hic amet. Accusantium nemo commodi tempore ipsa sapiente consectetur odio, explicabo amet rem repudiandae ad. Cumque, dicta?
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, nam iusto? Numquam minima odio officiis dolorem velit nemo deserunt exercitationem? Adipisci asperiores, deserunt quasi ea vel neque omnis amet voluptatibus!
                img(src="/images/dynamic-wang-HD1VqF37590-unsplash.jpg")
include ./footer.pug