include ./head.pug
body 
    include ./header.pug
    main 
        section
            article 
                h2 Come visit us! 
                p We have different stores in Madrid, Barcelona and Bilbao.
include ./footer.pug