include ./head.pug
body 
    include ./header.pug
    main 
        section
            article 
                h2 Hi!
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur voluptas, nisi minima unde ipsum fugit mollitia laboriosam eaque impedit vero animi voluptates. Hic, rem delectus quis labore atque molestiae mollitia?
include ./footer.pug